<center>

  <div class="alert alert-danger" role="alert" style="align-content: center; background-color: #FF5D7A; width: 50em; border-radius: 1em; color: #ffffff">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVR4nO2UO27CQBCGly6iRKTkkYocJ8CReOUm4QQhBHEJwgEQJY+a8kMrTbEYw87aC4jIX2NpPfPPv6PfNqagIAcI5lHwrw0Ar8CXfWY1oNG4CDAW/UUWARluey1jk1NgAVQDequJ3vANJEzMgTLwDsyAA+cc5F1Laue5hiduYwVfgDV+VlJbDtmaF6AtA/6ASsr7CrCUmg8TG+BTxHtXavpSM7qFgZnvds6WfmMPLwE7Ea9dqatLzd72ZBl0gnP+JkdbhcZGaps+3RADXTn6VhiYSG0n2MAlgKEvgClBHJhYAFPt5+UE8SemgY0vgClB3MYa3ggVdAzXYxjoaAOYEsR2DAN9bQDz9Ghuo/6/O0FUb+0MImOezkBBgbkTR0m9+BCEc6YNAAAAAElFTkSuQmCC" style="padding-right: 1em">
    <%= notice %>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVR4nO2UO27CQBCGly6iRKTkkYocJ8CReOUm4QQhBHEJwgEQJY+a8kMrTbEYw87aC4jIX2NpPfPPv6PfNqagIAcI5lHwrw0Ar8CXfWY1oNG4CDAW/UUWARluey1jk1NgAVQDequJ3vANJEzMgTLwDsyAA+cc5F1Laue5hiduYwVfgDV+VlJbDtmaF6AtA/6ASsr7CrCUmg8TG+BTxHtXavpSM7qFgZnvds6WfmMPLwE7Ea9dqatLzd72ZBl0gnP+JkdbhcZGaps+3RADXTn6VhiYSG0n2MAlgKEvgClBHJhYAFPt5+UE8SemgY0vgClB3MYa3ggVdAzXYxjoaAOYEsR2DAN9bQDz9Ghuo/6/O0FUb+0MImOezkBBgbkTR0m9+BCEc6YNAAAAAElFTkSuQmCC" style="padding-left: 1em">
  </div>
</center>